body{
    background-color: #eee;
}

.d-flex {
    display: flex
}
.kanban-column-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin: 0;
    padding: 10px 10px 0;
    list-style: none;
}

.card{
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
    cursor: grab;
}

.card-id {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(128,128,128);
    line-height: 24px;
}

.card-title {
    font-family: "system-ui";
    font-weight: 500;
    font-size: 20px;
    color: "#000";
    line-height: 24px;
    margin-bottom: 8px
}

.card-minibox {
    box-sizing: content-box;
    border: 1px ridge;
    padding: 4px;
    border-radius: 5px
}

.card-tag {
    color: rgb(128,128,128);
    padding: 4px;
    font-size: 18px
}

.card-priority {
    height: 20px;
    width: 20px
}

.grey-circle {
    height: 10px;
    width: 10px;
    background-color: #909090;
    border-radius: 50%;
    display: inline-block;
  }
  

  .kanban-avatar {
    position:relative;
    display:inline-block;
  }
  .kanban-avatar-image {
    width:30px;
    height:30px;
    object-fit:cover;
    border-radius:100%;
  }
  .kanban-avatar-status {
    width:8px;
    height:8px;
    background:#99CC00;
    border:2px solid white;
    position:absolute;
    bottom:2%;
    right:2%;
    border-radius:100%;
  }